body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .navigation-menu {
    display: none;
  }
  
  .navigation-menu.active {
    display: block;
  }
  
  .navigation-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navigation-menu li {
    padding: 10px;
  }
  
  .navigation-menu a {
    color: white;
    text-decoration: none;
  }
  
  .navigation-menu a:hover {
    text-decoration: underline;
  }
  